// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~materialize-css/dist/css/materialize.min.css";

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

body {
  font-family: Nunito, sans-serif;
}
