<template>
    <div class="container">


        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="row">
                    <div class="col s2">
                        <router-link :to="{name: 'login'}">
                            <i class="small material-icons grey-text">close</i>
                        </router-link>
                    </div>
                    <div class="col s8 center-align">
                        <h5>Add New</h5>
                    </div>
                    <div class="col s2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title"
                               type="text"
                               v-model="title"
                               v-bind:class="{ invalid: errors.title }"
                               class="validate">
                        <label for="title">Title</label>
                        <small v-if="errors.title" class="red-text">{{ errors.title[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="description"
                               type="text"
                               v-model="description"
                               v-bind:class="{ invalid: errors.description }"
                               class="validate">
                        <label for="description">Description</label>
                        <small v-if="errors.description" class="red-text">{{ errors.description[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text"
                               class="datepicker validate"
                               id="date"
                               name="date"
                               v-bind:class="{ invalid: errors.date }">
                        <label for="date">Date</label>
                        <small v-if="errors.date" class="red-text">{{ errors.date[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text"
                               class="timepicker validate"
                               id="from"
                               name="from"
                               v-bind:class="{ invalid: errors.from }">
                        <label for="from">From</label>
                        <small v-if="errors.from" class="red-text">{{ errors.from[0] }}</small>
                    </div>
                    <div class="input-field col s6">
                        <input type="text"
                               class="timepicker validate"
                               id="to"
                               name="to"
                               v-bind:class="{ invalid: errors.to }">
                        <label for="to">To</label>
                        <small v-if="errors.to" class="red-text">{{ errors.to[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location"
                               type="text"
                               v-model="location"
                               v-bind:class="{ invalid: errors.location }"
                               class="validate">
                        <label for="location">Location</label>
                        <small v-if="errors.location" class="red-text">{{ errors.location[0] }}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name="color" id="color" class="validate" v-model="color">
                            <option value="teal">Teal</option>
                            <option value="purple">Purple</option>
                            <option value="blue">Blue</option>
                        </select>
                        <label>Label</label>
                    </div>
                    <div class="col s6">
                        <span class="badge" v-bind:style="{ 'background-color': color }"></span>
                    </div>
                </div>

                <div class="row">
                    <a class="waves-effect waves-light btn-large s12" @click="create">Create</a>
                </div>
            </form>
        </div>

    </div>
</template>

<script>
    export default {
        beforeCreate() {
            document.body.classList.remove('teal');
        },
        mounted() {
            var el = document.querySelectorAll('.datepicker');
            M.Datepicker.init(el, {});

            var elem = document.querySelectorAll('select');
            M.FormSelect.init(elem, {});

            var elems = document.querySelectorAll('.timepicker');
            var instances = M.Timepicker.init(elems, {});
        },
        data() {
            return {
                title: '',
                description: '',
                date: '',
                from: '',
                to: '',
                location: '',
                color: 'teal',
                errors: []
            }
        },
        methods: {
            create() {
                this.errors = [];

                let postData = {
                    title: this.title,
                    description: this.description,
                    date: document.querySelector('#date').value,
                    from: document.querySelector('#from').value,
                    to: document.querySelector('#to').value,
                    location: this.location,
                    color: this.color
                };

                axios.post('/api/tasks', postData, { headers: { Authorization: `Bearer ${localStorage.getItem('user-token')}` }})
                    .then(response => {
                        this.$router.push({name: 'home'});
                    }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            }
        }
    }
</script>

<style scoped>
    form a {
        width: 100%;
    }

    .col .material-icons {
        padding-top: 20px;
    }
</style>
