<template>
    <div>
        <div class="row center-align">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="row">
                    <div class="col s2">
                        <router-link :to="{ name: 'menu' }">
                            <i class="small material-icons">menu</i>
                        </router-link>
                    </div>
                    <div class="col s8">
                        <h5>Home</h5>
                    </div>
                    <div class="col-s2">
                        <router-link :to="{ name: 'add-new' }">
                            <i class="small material-icons">add</i>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center-align" v-if="loading">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-teal-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>

        <div class="row" v-else>
            <div class="col s12 m8 offset-m2 l6 offset-l3" v-if="dates.length !== 0">
                <div v-for="date in dates">
                    <div class="date-container">
                        <div class="date-side grey lighten-2"></div>
                        <div class="date grey lighten-5 text-grey">
                            <span>{{ date }}</span>
                        </div>
                    </div>
                    <div class="task-container" v-for="task in tasks" v-if="date == task.date">
                        <div class="side" v-bind:class="task.color"></div>
                        <div class="task">
                            <div class="delete-task" @click="deleteTask(task.id)">
                                <i class="small material-icons">delete_forever</i>
                            </div>
                            <p>{{ task.title }}</p>
                            <p>
                                <i class="tiny material-icons">access_time</i> {{ task.from }} - {{ task.to }}
                                <i class="tiny material-icons">location_on</i> {{ task.location }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8 offset-m2 l6 offset-l3" v-else>
                <div class="date-container">
                    <div class="date-side grey lighten-2"></div>
                    <div class="date grey lighten-5 text-grey">
                        <span>No tasks yet.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        beforeCreate() {
            document.body.classList.remove('teal');
        },
        created() {
            this.getTasks();
        },
        data() {
            return {
                dates: [],
                tasks: [],
                loading: true
            }
        },
        methods: {
            deleteTask(task) {
                axios.delete(`/api/tasks/${task}`, { headers: { Authorization: `Bearer ${localStorage.getItem('user-token')}` }})
                    .then(response => {
                        this.getTasks();
                    });
            },
            getTasks() {
                axios.get('/api/tasks', { headers: { Authorization: `Bearer ${localStorage.getItem('user-token')}` }})
                    .then(response => {
                        this.dates = response.data.dates;
                        this.tasks = response.data.tasks;
                        this.loading = false;
                    });
            }
        }
    }
</script>

<style scoped>
    a {
        color: #d8d8d9;
    }
    
    .date {
        height: 55px;
        flex: 1;
        font-size: 14px;
        text-transform: uppercase;
        color: #d8d8d9;
        padding-left: 20px;
        line-height: 4em;
    }

    .col {
        padding: 0;
    }

    .task {
        height: 100px;
        flex: 1;
        color: #636364;
        padding-left: 20px;
        line-height: 2.5em;
        border-bottom: 1px solid #f0f0f0;
    }

    .side {
        width: 6px;
        height: 100px;
    }

    .date-side {
        width: 6px;
        height: 55px;
    }

    .task-container, .date-container {
        display: flex;
    }

    .center-align i {
        padding-top: 1em;
    }

    .delete-task {
        float: right;
        position: relative;
        top: 35px;
        right: 20px;
        color: #d8d8d9;
        cursor: pointer;
    }
</style>
