<template>
    <div class="container">

        <div class="row center-align">
            <img src="/images/green-check.png" width="200px">
        </div>
        <div class="row">
            <form class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="red-text center-align" v-if="errors.not_match">
                    {{ errors.not_match }}
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email"
                               type="email"
                               v-model="email"
                               class="validate"
                               @change="showCheck"
                               v-bind:class="{ invalid: errors.email }">
                        <label for="email">Email</label>
                        <small v-if="errors.email" class="red-text">{{ errors.email[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password"
                               type="password"
                               v-model="password"
                               class="validate"
                               @change="showCheck"
                               v-bind:class="{ invalid: errors.password }">
                        <label for="password">Password</label>
                        <small v-if="errors.password" class="red-text">{{ errors.password[0] }}</small>
                    </div>
                </div>

                <div class="row">
                    <a class="waves-effect waves-light btn-large s12" @click="login">Sign in</a>
                </div>
            </form>
        </div>

        <div class="row center">
            <span class="grey-text">
                DON'T HAVE AN ACCOUNT? <router-link :to="{name: 'register'}">SIGN UP</router-link>
            </span>
        </div>

    </div>
</template>

<script>
    export default {
        beforeCreate() {
            document.body.classList.remove('teal');
        },
        data() {
            return {
                email: '',
                password: '',
                errors: []
            }
        },
        methods: {
            login() {
                this.errors = [];

                axios.post('/api/login', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    localStorage.setItem('user-token', response.data.token);
                    this.$router.push({name: 'home'});
                }).catch(errors => {
                    this.errors = errors.response.data.errors;
                });
            },
            showCheck() {
                let image = document.querySelector('.row img');

                if (this.email !== '' && this.validEmail(this.email) && this.password !== '') {
                    image.style.opacity = 1;
                } else {
                    image.style.opacity = 0;
                }
            },
            validEmail(email) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>
    form a {
        width: 100%;
    }

    .row img {
        padding-top: 5em;
        opacity: 0;
    }
</style>
