<template>
    <div class="container">

        <div class="row center-align">
            <h5>Menu</h5>
        </div>

        <div class="row">
            <div class="col s3">
                <div class="circle cover" :style="{ backgroundImage: `url(images/${user.filename})` }"></div>
            </div>
            <div class="col s9">
                <span class="name">{{ user.name }}</span><br/>
                <span class="email">{{ user.email }}</span>
            </div>
        </div>

        <div class="row">
            <ul>
                <li>
                    <router-link :to="{name: 'home'}">Home</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'add-new'}">Add new</router-link>
                </li>
                <li>
                    <a @click="logout">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</template>

<script>
    export default {
        beforeCreate() {
            axios.get('/api/user', { headers: { Authorization: `Bearer ${localStorage.getItem('user-token')}` }})
                .then(response => {
                    this.user = response.data;
                });

            document.body.className = 'teal';
        },
        data() {
            return {
                user: null
            }
        },
        methods: {
            logout() {
                axios.get('api/logout', { headers: { Authorization: `Bearer ${localStorage.getItem('user-token')}` }})
                    .then(response => {
                        console.log(response);
                        localStorage.removeItem('user-token');
                        this.$router.push({name: 'login'});
                    });
            }
        }
    }
</script>

<style scoped>
    body {
        background-color: red;
    }

    ul li a {
        font-size: 24px;
        color: #ffffff;
    }
    
    .name {
        font-size: 36px;
    }

    .cover {
        background-color: #e9e9e9;
        width: 65px;
        height: 65px;
        background-size: cover;
        background-position: center center;
        margin: 10px 10px 0 0;
    }
    
    .container {
        color: #ffffff;
    }
</style>
