<template>
    <div class="container">
        <router-link class="left-align" :to="{name: 'login'}">
            <i class="small material-icons grey-text">close</i>
        </router-link>
        <div class="row center-align">

            <h5>Sign up</h5>

            <div class="circle cover" :style="{ backgroundImage: `url(${fileUrl})` }">
                <a class="btn-floating btn-small waves-effect waves-light" @click="$refs.fileInput.click()">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        <div class="row">
            <form class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="file" type="file" @change="onFileSelected" ref="fileInput">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name"
                               type="text"
                               v-model="name"
                               v-bind:class="{ invalid: errors.name }"
                               class="validate">
                        <label for="first_name">Full Name</label>
                        <small v-if="errors.name" class="red-text">{{ errors.name[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email"
                               type="email"
                               v-model="email"
                               v-bind:class="{ invalid: errors.email }"
                               class="validate">
                        <label for="email">Email</label>
                        <small v-if="errors.email" class="red-text">{{ errors.email[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password"
                               type="password"
                               v-model="password"
                               v-bind:class="{ invalid: errors.password }"
                               class="validate">
                        <label for="password">Password</label>
                        <small v-if="errors.password" class="red-text">{{ errors.password[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text"
                               class="datepicker"
                               id="birthday"
                               name="birthday"
                               v-bind:class="{ invalid: errors.birthday }">
                        <label for="birthday">Birthday</label>
                        <small v-if="errors.birthday" class="red-text">{{ errors.birthday[0] }}</small>
                    </div>
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn-large s12" @click="register">Create</a>
                </div>
            </form>
        </div>

        <div class="row center">
            <span class="grey-text">
                ALREADY HAVE AN ACCOUNT? <router-link :to="{name: 'login'}">SIGN IN</router-link>
            </span>
        </div>

    </div>
</template>

<script>
    export default {
        beforeCreate() {
            document.body.classList.remove('teal');
        },
        mounted() {
            var el = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(el, {});
        },
        data() {
            return {
                name: '',
                email: '',
                password: '',
                photo: null,
                fileUrl: null,
                errors: []
            }
        },
        methods: {
            register() {
                this.errors = [];

                let formData = {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    birthday: document.querySelector('#birthday').value,
                    photo: this.photo
                };

                axios.post('/api/register', formData).then(response => {
                    this.$router.push({name: 'login'});
                }).catch(errors => {
                    this.errors = errors.response.data.errors;
                });
            },
            onFileSelected(event) {
                let file = event.target.files[0];
                let reader = new FileReader();

                reader.onloadend = (e) => {
                    this.photo = reader.result;
                };

                reader.readAsDataURL(file);
                this.fileUrl = URL.createObjectURL(event.target.files[0]);
            }
        }
    }
</script>

<style scoped>
    form a {
        width: 100%;
    }

    .cover {
        background-color: #e9e9e9;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center center;
        margin: 30px auto 20px auto;
    }

    i.small {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .circle a {
        margin-left: 100px;
    }

    #file {
        display: none;
    }
</style>
